{% extends vespolina_layout_template %}

{% block navigation %}
    <ol class="breadcrumb">
        <li><a href="{{ path('v_store_home') }}">Home</a></li>
        <li class="active">Not found</li>
    </ol>
{% endblock %}

{% block content %}
<h1>Product not found.</h1>
{% endblock %}
