{% extends vespolina_layout_template %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a href="{{ path('v_store_home') }}">Home</a> <span class="divider">/</span></li>
    <li>Checkout<span class="divider">/</span></li>
</ul>
{% endblock %}

{% block content %}

{% render "VespolinaCommerceBundle:Process/Process:processNavigator" with {'currentProcessStep': currentProcessStep } %}


<div class="alert alert-info">
    Thank you for your purchase.  Your order description has been sent to your email address
</div>


{% endblock %}

