
{% set product_pricing =  product.getPricing %}

{#
{% set discount_rate = ( product_pricing['unitTotal'] - product_pricing['unitMSRPTotal'] ) / product_pricing['unitTotal'] %}
#}
<!--
<span class="v-product-msrp-discount-rate">
    Save {{ price(product, 'MSRPDiscountRate', '%') }}
</span>
-->

<span class="v-product-unit-price-total">
{{ price(product, 'unitTotal') }}
</span>


